 body {
    font-family: Arial, sans-serif;
    /* background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;*/
} 
.form-group {
    margin-bottom: 20px; /* Ajusta el valor según tus preferencias */
}

form {
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/*
input {
    margin: 10px 0;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}


.flash-messages {
    list-style-type: none;
    padding: 0;
}
.flash-messages .success {
    color: green;
}
.flash-messages .error {
    color: red;
} */
